<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-4 bg-white">

  <div class="text-center mb-4 w-100 pt-4 pt-md-0">
    <div class="d-flex justify-content-center align-items-center gap-3">
      <img src="assets/icons/Logo_Negro.svg"  routerLink="home" alt="SneakerHub Logo" style="height: 50px; object-fit: contain; cursor: pointer ">
      <h2 class="fw-bold m-0 text-dark">SneakerHub</h2>
    </div>
    <hr>

  </div>

  <div class="card border-0 shadow-sm p-4"
    style="max-width: 400px; width: 100%; background-color: #dcdcdc; border-radius: 10px;">

    <div class="card-body">
      <h3 class="text-center mb-4 text-dark">Iniciar Sesión</h3>

      <form>
        <div class="input-group mb-3">
          <span class="input-group-text bg-white border-end-0 rounded-start-pill ps-3 text-secondary">
            <i class="bi bi-at fs-5"></i>
          </span>
          <input type="email" class="form-control bg-white border-start-0 rounded-end-pill py-2 shadow-none"
            placeholder="Correo">
        </div>

        <div class="input-group mb-2">
          <span class="input-group-text bg-white border-end-0 rounded-start-pill ps-3 text-secondary">
            <i class="bi bi-key fs-5"></i>
          </span>
          <input type="password" class="form-control bg-white border-start-0 rounded-end-pill py-2 shadow-none"
            placeholder="Contraseña">
        </div>

        <div class="mb-4">
          <a href="#" class="text-decoration-none text-secondary small fw-bold">
            He olvidado la contraseña
          </a>
        </div>

        <div class="d-grid gap-2 mb-3">
          <button class="btn rounded-pill py-2 text-white bg-black" type="button"
            routerLink="/home">
            Iniciar Sesión
          </button>
        </div>

        <div class="d-grid gap-2 mb-4">
          <button class="btn btn-danger rounded-pill py-2" type="button" routerLink="/home">
            <i class="bi bi-google me-2"></i> Iniciar Sesión
          </button>
        </div>

        <div class="text-center">
          <span class="text-secondary small">¿No tienes cuenta? </span>
          <a routerLink="/signin" class="text-decoration-none text-dark small fw-bold text-decoration-underline">
            Únete a nosotros
          </a>
        </div>

      </form>
    </div>
  </div>
</div>