<div class="card border-0 shadow-sm h-100 rounded-4 d-flex flex-column overflow-hidden sneaker-card-hover"
  [routerLink]="['/product', sneaker.id]">

  <div class="card-img-top card-img-container d-flex justify-content-center align-items-center p-3 bg-white">
    <img [src]="sneaker.imageUrl" [alt]="sneaker.name" class="img-fluid">
  </div>

  <div class="card-body pt-2 pb-4 px-4 d-flex flex-column flex-grow-1">
    <h6 class="card-title text-dark mb-2 fw-normal text-start">
      {{ sneaker.name }} </h6>

    <div class="mt-auto">
      <p class="card-text fw-bold text-dark mb-1 fs-5 text-start">
        {{ sneaker.price | number:'1.2-2' }} €
      </p>

      <p class="card-text text-secondary small fw-medium mb-0 text-start text-uppercase brand-text">
        {{ sneaker.brand }}
      </p>
    </div>
  </div>
</div>