<footer class="text-center text-lg-start bg-body-tertiary text-muted border-top mt-auto">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Conéctate con nosotros en redes sociales:</span>
    </div>

    <div>
      <a href="#" class="me-4 text-reset text-decoration-none">
        <i class="bi bi-facebook fs-5"></i>
      </a>
      <a href="#" class="me-4 text-reset text-decoration-none">
        <i class="bi bi-twitter-x fs-5"></i>
      </a>
      <a href="#" class="me-4 text-reset text-decoration-none">
        <i class="bi bi-instagram fs-5"></i>
      </a>
      <a href="#" class="me-4 text-reset text-decoration-none">
        <i class="bi bi-tiktok fs-5"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">

        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">


          <h6
            class="text-uppercase fw-bold mb-4 d-flex align-items-center justify-content-center justify-content-md-start gap-2">
            <img src="assets/icons/Logo_Negro.svg" alt="Logo SneakerHub" class="logo-img mb-2" style="height: 40px; width: auto;">
            SneakerHub
          </h6>
          <p>
            Tu destino definitivo para sneakers exclusivas. Encontramos las zapatillas más buscadas de Nike, Adidas,
            Jordan y más. Autenticidad 100% garantizada en todos nuestros productos.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Colecciones
          </h6>
          <p>
            <a routerLink="/products/hombre" class="text-reset text-decoration-none">Hombre</a>
          </p>
          <p>
            <a routerLink="/products/mujer" class="text-reset text-decoration-none">Mujer</a>
          </p>
          <p>
            <a routerLink="/products/novedades" class="text-reset text-decoration-none">Novedades</a>
          </p>
          <p>
            <a routerLink="/products/all" class="text-reset text-decoration-none">Ver Todo</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Tu Cuenta
          </h6>
          <p>
            <a routerLink="/login" class="text-reset text-decoration-none">Iniciar Sesión</a>
          </p>
          <p>
            <a routerLink="/signin" style="cursor: pointer;" class="text-reset text-decoration-none">Registrarse</a>
          </p>
          <p>
            <a href="#" class="text-reset text-decoration-none">Mis Pedidos</a>
          </p>
          <p>
            <a href="#" class="text-reset text-decoration-none">Ayuda</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="bi bi-geo-alt-fill me-3"></i> Gran Vía 24, Madrid, ES</p>
          <p>
            <i class="bi bi-envelope-fill me-3"></i>
            info&#64;sneakerhub.com
          </p>
          <p><i class="bi bi-telephone-fill me-3"></i> +34 912 345 678</p>
          <p><i class="bi bi-clock-fill me-3"></i> L-V: 10:00 - 20:00</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4 bg-dark text-white">
    © 2026 Copyright:
    <a class="text-reset fw-bold text-decoration-none" routerLink="/">SneakerHub.com</a>
  </div>
</footer>