<header class="bg-white pt-3 pb-2 shadow-sm">
    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-between mb-3">

            <a routerLink="/" class="navbar-brand d-flex align-items-center me-4">
                <img src="assets/icons/Logo_Negro.svg" alt="Logo SneakerHub" class="logo-img">
                <span class="fw-bold fs-4 ms-2">SneakerHub</span>
            </a>

            <form class="d-flex flex-grow-1 mx-lg-5 search-container" role="search">
                <div class="input-group">
                    <span class="input-group-text search-icon-box rounded-start-pill bg-white border-end-0">
                        <i class="bi bi-search"></i>
                    </span>
                    <input class="form-control search-input rounded-end-pill border-start-0 shadow-none" type="search"
                        placeholder="Buscar" aria-label="Buscar">
                </div>
            </form>

            <div class="d-flex align-items-center gap-3 ms-4">
                <a href="#" class="text-dark fs-5"><i class="bi bi-cart"></i></a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle bi bi-person-fill" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" routerLink="signin">Signin</a></li>
                        <li><a class="dropdown-item" routerLink="login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav mb-3 border-bottom pb-2">
            <li class="nav-item">
                <a class="nav-link text-dark fw-semibold ps-0" href="#">Novedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fw-semibold" href="#">Hombre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark fw-semibold" href="#">Mujer</a>
            </li>
        </ul>

        <div class="d-flex gap-2 overflow-auto pb-2 scroll-container">
            <button class="btn brand-chip active rounded-pill px-4">All</button>

            <button class="btn brand-chip rounded-pill px-3">
                <!-- <img src="assets/icons/Adidas_Negro.svg" alt="Logo SneakerHub" class="small"> -->

                <i class=""></i> Adidas
            </button>
            <button class="btn brand-chip rounded-pill px-3">
                <i class=""></i> Puma
            </button>
            <button class="btn brand-chip rounded-pill px-3">
                <i class=""></i> Nike
            </button>
            <button class="btn brand-chip rounded-pill px-3">
                <i class=""></i> Jordan
            </button>
            <button class="btn brand-chip rounded-pill px-3">
                <i class=""></i> New Balance
            </button>
        </div>

    </div>
</header>