/* Chips de marcas */
.brand-chip {
    background-color: var(--bs-gray-200); 
    color: var(--bs-body-color);         
    transition: all 0.2s ease-in-out;
    
    // Hover usando una variable un poco más oscura
    &:hover {
        background-color: var(--bs-gray-300);
    }

    // Estado activo
    &.active {
        background-color: var(--bs-dark); 
        color: var(--bs-white);
        
        // Invertir color del logo
        img {
            filter: invert(1) brightness(200%);
        }
    }
}

/* Scrollbar personalizado */
.scroll-container {
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--bs-gray-400); // Usamos variable gris de bootstrap
        border-radius: 4px;
    }
}