<div class="d-flex">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark position-fixed vh-100 shadow" style="width: 280px;">
    <a routerLink="/admin/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none px-2">
      <img src="assets/icons/Logo_Negro.svg" alt="Logo" class="me-2" style="height: 30px; filter: brightness(0) invert(1);">
      <span class="fs-4 fw-bold">AdminHub</span>
    </a>
    <hr>
    
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/admin/dashboard" routerLinkActive="active bg-primary" class="nav-link text-white rounded-pill mb-2">
          <i class="bi bi-speedometer2 me-2"></i> Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/zapatillas" routerLinkActive="active bg-primary" class="nav-link text-white rounded-pill mb-2">
          <i class="bi bi-box-seam me-2"></i> Zapatillas
        </a>
      </li>
      <li>
        <a routerLink="/admin/usuarios" routerLinkActive="active bg-primary" class="nav-link text-white rounded-pill mb-2">
          <i class="bi bi-people me-2"></i> Usuarios
        </a>
      </li>
      <li>
        <a routerLink="/admin/pedidos" routerLinkActive="active bg-primary" class="nav-link text-white rounded-pill mb-2">
          <i class="bi bi-receipt me-2"></i> Pedidos
        </a>
      </li>
    </ul>
    
    <hr>
    <div class="px-2">
      <button routerLink="/home" class="btn btn-outline-light w-100 rounded-pill btn-sm">
        <i class="bi bi-arrow-left me-2"></i> Volver a la Tienda
      </button>
    </div>
  </div>

  <div class="flex-grow-1 bg-light min-vh-100" style="margin-left: 280px; padding: 3rem;">
    <router-outlet></router-outlet>
  </div>
</div>